* {
    font-family: "Century Schoolbook L", serif;
}
#map {
    position: relative;
    height: 80vh;
    width: 75vw;
}

#popup {
    padding-bottom: 45px;
}
.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}